* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*清除移动端特有的点击高亮效果*/
	-webkit-tap-highlight-color: transparent;
}
html,
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	/*禁止ios和android用户选中文字*/
	-webkit-user-select: none;
	/*禁止ios 长按时不触发系统的菜单，禁止ios&android长按时下载图片*/
	-webkit-touch-callout: none;
	-webkit-overflow-scrolling: touch;
	max-width: 750px;
	margin: 0 auto;
	font-size: 0.14rem;
	overflow-x: hidden;
}
button {
	border: none;
	outline: none;
}
img {
	display: block;
	max-width: 50%;
	max-height: 50%;
	margin: auto;
}
ul,
ol {
	list-style-type: none;
}

a{
    text-decoration: none;
}

//tab翻页效果
.tab-slide-left-enter-active {
	animation: tab-slide-left-in 0.3s;
}
.tab-slide-left-leave-active {
	animation: tab-slide-left-out 0.3s;
}
.tab-slide-right-enter-active {
	animation: tab-slide-right-in 0.3s;
}
.tab-slide-right-leave-active {
	animation: tab-slide-right-out 0.3s;
}
@keyframes tab-slide-left-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}
@keyframes tab-slide-left-out {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}
@keyframes tab-slide-right-in {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes tab-slide-right-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

#app {
	display: flex;
	width: 200%;
	> div {
		width: 50%;
	}
}

//页面翻页效果
.slide-left-enter-active {
	animation: slide-left-in 0.4s;
}
.slide-left-leave-active {
	animation: slide-left-out 0.4s;
}
.slide-right-enter-active {
	animation: slide-right-in 0.4s;
}
.slide-right-leave-active {
	animation: slide-right-out 0.4s;
}

@keyframes slide-left-in {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes slide-left-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}
@keyframes slide-right-in {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes slide-right-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
