* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*清除移动端特有的点击高亮效果*/
	-webkit-tap-highlight-color: transparent;
}
html,
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	/*禁止ios和android用户选中文字*/
	-webkit-user-select: none;
	/*禁止ios 长按时不触发系统的菜单，禁止ios&android长按时下载图片*/
	-webkit-touch-callout: none;
	-webkit-overflow-scrolling: touch;
	max-width: 750px;
	margin: 0 auto;
	font-size: 0.14rem;
}
button {
	border: none;
	outline: none;
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
ul,
ol {
	list-style-type: none;
}
